=link_to "Create",new_company_path


%h2 LISTING!
%table{:border =>3}
  %tbody
    %tr
      %td NAME:
      
    - @company.each do |company|
      %tr
        %td= company.name
        

        %td= link_to "show",company_path(company.id)
        %td= link_to "Edit",edit_company_path(company.id)
        %td= link_to "delete",company_path(company.id),method: :delete,data: { confirm: 'Are you sure?' } 

