=link_to "Back",companies_path
%table{:border =>3}
  %tbody
    %tr
      %td NAME:
      %td EMAIL:
      %td PHONENO:
      %td LOCATION:
    
      %tr
        %td= @company.name
        %td= @company.email
        %td= @company.phoneno
        %td= @company.location
        


